*,
body, html {
  padding: 0;
  font-family: 'Roboto', sans-serif, Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  padding: 5% 30%;
  background-color: #f3f7fc;
}

body h1 {
  text-align: center;
}

#calendar {
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
}

#calendar .header-calendar-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

#calendar .header-calendar-row .column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

#calendar .header-calendar-row .column .previous,
.date-calendar,
.next {
  text-align: center;
  height: 100%;
  cursor: pointer;
}

#calendar .header-calendar-row .column .previous:hover{
background-color:#f1f2f3;
}
#calendar .header-calendar-row .column .next:hover{
background-color:#f1f2f3;
}

#calendar .header-calendar-row .column .date-calendar p {
  font-size: 24.5px;
}

#calendar .header-calendar-row .column {
  border: 1px solid #ddd;
}

#calendar .body-calendar,
#calendar .body-calendar .table-date {
  width: 100%;
  border-collapse: collapse;
}

#calendar .body-calendar .table-date th,
#calendar .body-calendar .table-date td {
  border: 1px solid #ddd;
  text-align: center;
}

#calendar .body-calendar .table-date th {
  padding: 5px;
}
#calendar .body-calendar .table-date td {
  cursor: pointer;
  padding: 20px;
  min-height: 150px;
}
.selected {
  background-color: #fcf8e3;
}
